[Unit]
Description=RustProxy Client Service
Documentation=https://cnb.cool/emchaye/RustProxy
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/rustproxy/client/
ExecStart=/home/rustproxy/client/rustproxy-client
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
