[Unit]
Description=RustProxy Server Service
Documentation=https://github.com/yourname/rustproxy
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/rustproxy/server/
ExecStart=/home/rustproxy/server/rustproxy-server
RestartSec=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
